<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <form action="/file/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" placeholder="Name" name="name"><br><br>
        <input type="file" name="files"><br><br>
        <button type="submit">Upload</button>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
        </tr>
        {% for i in img %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.Name}}</td>
            <!-- <script>alert('{{i.Filename}}')</script> -->
            <td><img src="/media/0.23525261979266554Screenshot (14).png" alt="abc"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>