<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h2>Create New Password</h2>
    <form action="#" method="POST">
        {% csrf_token %}
        <input type="password" name="opw" id="oldp" placeholder="Old password"><br><br>
        <input type="password" name="npw" id="newp" placeholder="New password"><br><br>
        <input type="password" name="rnpw" id="rnewp" placeholder="Re-enter new password"><br><br>
        <button type="submit" onclick="return check()">Change password</button><br>
        {{msg2}}
    </form>
    <script>
        function check(){
            p1=document.getElementById('newp').value
            p2=document.getElementById('rnewp').value
            if(p1!=p2){
                alert("Incorrect Password")
                document.getElementById('newp').value=""
                document.getElementById('rnewp').value=""
                return false
            }
        }
    </script>
</body>
</html>